
<div class="procurement-page"
     data-th-fragment="procurement-page">
          <div class="row">
            <div class="col-md-3 page-label">
              <label>
                <b>PO number</b>
              </label>
            </div>
            <div class="col-md-5">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
            </div>
            <div class="col-md-3">
              <button type="button" class="btn search-btn border-0"> Search </button>

            </div>
          </div>
        </div>
</div>

